@model n_hashimotoStudy.Models.ApplicationUser

@{
    ViewData["Title"] = "社員情報　削除";
}

<h2>社員情報　削除</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SyainName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SyainName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SyainNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SyainNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Busho.BushoName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Busho.BushoName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="削除" class="btn btn-default" /> |
        <a asp-action="Index">社員マスターに戻る</a>
    </form>
</div>
